
body {
  font-family: Arial, sans-serif;
  background-color: #fefaf0;
  margin: 0;
  padding: 0;
}
header {
  background-color: #154734;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
nav ul {
  background-color: #d8ccb4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 1rem;
}
nav a {
  color: #154734;
  text-decoration: none;
  font-weight: bold;
}
.banner {
  width: 100%;
  height: auto;
}
main {
  padding: 2rem;
}
