body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fefaf0;
    color: #111;
}
header {
    background: url('banner.jpg') no-repeat center center/cover;
    color: white;
    padding: 2em 1em;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #e0ddce;
    margin: 0;
}
nav li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #014421;
    font-weight: bold;
}
.hero h1 {
    font-size: 2.5em;
}
.hero p {
    font-size: 1.2em;
}
main {
    padding: 1em 2em;
}